%tr
  %td= category.name
  %td= link_to t("actions.edit"), edit_api_v1_category_path(category),
    :class => "btn btn-primary"
  %td= link_to t("actions.delete"), api_v1_category_path(category),
    confirm: t("actions.confirm"), method: :delete, :class => "btn btn-danger"
