.page-header
  %h2= t("views.categories.edit")

= render partial: 'form', locals: { category: @category }

- content_for :sidebar do
  = render :partial => "shared/sidebar",
    :locals => { :options =>  sidebar_options(:categories_create_edit) }
