.page-header
  %h2= t("views.categories.index")
%table.table.table-hover
  = render :partial => "category", :collection => @categories

- content_for :sidebar do
  = render :partial => "shared/sidebar",
    :locals => { :options =>  sidebar_options(:categories_index) }
