.page-header
  %h2= t("views.categories.show")

%p
  %b= t("views.categories.name")

%table.table.table-bordered
  =render :partial => "show"

- content_for :sidebar do
  = render :partial => "shared/sidebar",
    :locals => { :options =>  sidebar_options(:categories_show) }
