.page-header
  %h2= t("views.categories.show")

%p
  %b= t("views.categories.name")
  = @category.name

- content_for :sidebar do
  = render :partial => "shared/sidebar",
    :locals => { :options =>  sidebar_options(:categories_show) }
