.page-header
  %h2= t("views.products.index")
%table.table.table-hover
  %tr
    %th= t("views.manufacturers.name")
    %th
    %th
  = render :partial => "product", :collection => @products
%br/
- content_for :sidebar do
  = render :partial => "shared/sidebar", :locals => { :options =>  sidebar_options(:products_index) }
