.page-header
  %h2= t("views.products.index")

%table.table.table-hover
  = render :partial => "product", :collection => @products

- content_for :sidebar do
  = render :partial => "shared/sidebar",
    :locals => { :options =>  sidebar_options(:products_index) }
