.page-header
  %h2= t("views.products.new")

= render  partial: 'form', locals: { product: @product }

- content_for :sidebar do
  = render :partial => "shared/sidebar",
    :locals => { :options => sidebar_options(:products_create_edit) }
