.page-header
  %h2= t("views.categories.index")
%table.table
  %tr
    %th= t("views.categories.name") 
    %th
    %th
  = render :partial => "category", :collection => @categories
%br/
- content_for :sidebar do
  = render :partial => "shared/sidebar", :locals => { :options =>  sidebar_options(:categories_index) }
