.page-header
  %h2= t("views.manufacturers.create")

= render partial: 'form', locals: { manufacturer: @manufacturer }

- content_for :sidebar do
  = render :partial => "shared/sidebar",
    :locals => { :options => sidebar_options(:manufacturers_create_edit) }
