.page-header
  %h2= t("views.manufacturer.show")

%p
  %b= t("views.manufacturer.name")

%table.table.table-bordered
  =render :partial => "show"

- content_for :sidebar do
  =render :partial => "shared/sidebar",
    :locals => { :options => sidebar_options(:manufacturers_show) }
