%h1 Editing product
= render 'form'
- content_for :sidebar do
  .well
    %ul.nav.nav-list
      %li.nav-header Lista opcji:
      %li.divider
      %li
        = link_to products_path do
          %i.icon-backward
          Powrót
