.page-header
  %h1 Lista producentów 
%table.table
  %tr
    %th Name
    %th
    %th
  = render :partial => "manufacturer", :collection => @manufacturers
%br/
- content_for :sidebar do
  = render :partial => "shared/sidebar", :locals => { :options =>  sidebar_options(:manufacturers_index) }
